{%extends "base.html"%}
{%block page_name%}
    Home
{%endblock%}

{%block content%}
<h1>
    Hello!
</h1>

{%for room in object_list %}
<h4>
    <a href="{% url "rooms:detail" room.pk %}">
        {{room.name}} / ${{room.price}}
    </a>
</h4>
{%endfor%}

{%if page_obj.has_previous%}
<a href="?page={{page_obj.previous_page_number}}">Previous</a>
{%endif%}

{%for i in page_obj.paginator.page_range%}
{%if i == page_obj.number%}
    <a href="?page={{i}}" style="background-color: gray">{{i}}</a>
{%else%}
    <a href="?page={{i}}">{{i}}</a>
{%endif%}
{%endfor%}

{%if page_obj.has_next%}
<a href="?page={{page_obj.next_page_number}}">Next</a>
{%endif%}

{%endblock%}